body {
    background-color: #cecece;
    width: 250px;
}

.settings {
    margin-top: 5px;
}

.settings-title {
    margin: 0;
    margin-bottom: 5px;
}

.settings-item {
    margin: 4px;
    display: flex;
    vertical-align: middle;
}

.settings-label {
    flex: 60%;
}

.settings-option {
    flex: 40%;
    width: 100%;
}

.center-content {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}